var DateFr = {

  getDate: function (time, splitStr) {

 if (!time) return '';

 var date =getDate(time);

 if (isNaN(date.getTime())){
   return time
 }
 var M = date.getMonth() + 1;
 var y = date.getFullYear();
 var d = date.getDate();
 var h = date.getHours();
 var m = date.getMinutes();

 if (M < 10) {M = "0" + M;}
 if (d < 10) {d = "0" + d;}
 if (h < 10) {h = "0" + h;}
 if (m < 10){ m = "0" + m;}


   return  M +splitStr+d+' '+h+':'+m;
   }
 }

 module.exports = {
   getDate: DateFr.getDate
 }
